<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Register a fire</title>
  <!-- Bootstrap core CSS-->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">

  <script>
      submit = function(){
        $(".hidden").css("display","inline").html(
          "Calculating, this will take a minute.");
    	  date_in = $("#inputDate").val()
        latitude_in = $("#inputLat").val()
        longitude_in = $("#inputLong").val()
        area_in = $("#inputArea").val()
        county_in = $("#inputCounty").val()
    	  new_fire = {date_start : date_in, latitude : latitude_in, longitude : longitude_in, fire_size:area_in, fips_name:county_in}

    	  $.post({
    	    url: "/predict_single",
    		    contentType: "application/json",
    		      data: JSON.stringify(new_fire),
              success: function(result){
                console.log(result)
		              $(".hidden").css("display","inline").html(
                    "Expected return: $" + result.return + "    Probability of human cause: " + result.probability);
    	       }});
  	   }
    </script>

    <style>
    .hidden {
	  display: none;
	}
  </style>

</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register a new fire</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputLat">Latitude</label>
                <input class="form-control" id="inputLat" type="number" aria-describedby="nameHelp" placeholder="Enter latitude">
              </div>
              <div class="col-md-6">
                <label for="inputLong">Longitude</label>
                <input class="form-control" id="inputLong" type="number" aria-describedby="nameHelp" placeholder="Enter longitude">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputArea">Size in acres</label>
                <input class="form-control" id="inputArea" type="number" placeholder="Enter fire size">
              </div>
              <div class="col-md-6">
                <label for="inputCounty">County</label>
                <input class="form-control" id="inputCounty" type="text" placeholder="Enter county">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="inputDate">Discovery Date</label>
                <input class="form-control" id="inputDate" type="date" aria-describedby="emailHelp" placeholder="yyyy-mm-dd">
              </div>
            </div>
          </div>

          <a class="btn btn-primary btn-block" onclick="submit();">Submit</a>
        </form>
        <p><span class="hidden"></span></p>
        <div class="text-center">
          <a class="d-block small mt-3" href="index.html">Back to Dashboard</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
